.WTMC {
    &__addComment {
        display: flex;
        align-items: center;
        height: calc(11vh - 40px - 20px);
        overflow: hidden;
    }

    &__textarea {
        flex-grow: 1;
        height: 100%;
        padding: 5px;
        border-left: 1px solid $main-color;
        border-right: 1px solid $main-color;
        border-top: none;
        border-bottom: none;
        border-radius: 10px;
        background-color: rgba(10, 10, 10, 0.9);
        color: $font-color2;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 14px;
        font-weight: bold;
        outline: none;
        resize: none;

        &::placeholder {
            color: #808080;
        }
    }

    &__send {
        width: calc(10vh - 40px - 20px);
        cursor: pointer;

        .WTMC__sendIcon {
            width: calc(10vh - 40px - 20px);
            height: calc(10vh - 40px - 20px);
            padding: 8px;
            color: $font-color2;
            transition: 0.3s;
        }

        .WTMC__sendIcon:hover {
            color: $main-color;
        }
    }
}