.audioInterface {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    width: 300px;

    &__icon.MuiSvgIcon-root {
        display: none;
        width: 30px;
        height: 30px;
        padding: 2px;
        margin-right: 8px;
        color: $main-color;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            padding: 0;
        }
    }

    &__icon.MuiSvgIcon-root.last {
        margin-right: 0;
    }

    &__playPause {
        margin-right: -6px;

        .active {
            display: block;
        }
    }

    &__time {
        margin-right: 8px;
        font-size: 13px;
    }




    /* CAŁY INPUT */

    &__progression,
    &__pageProgression {
        -webkit-appearance: none;
        width: 130px;
        height: 50px;
        margin-right: 8px;
        background: transparent;
        outline: none;
        transition: 0.3s;



        /* KÓŁKO */

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: none;
            height: 7px;
            width: 7px;
            border-radius: 50%;
            background: $main-color;
            cursor: pointer;
            margin-top: -2px;
            transition: 0.2s;
        }

        &:hover::-webkit-slider-thumb {
            height: 12px;
            width: 12px;
            margin-top: -5px;
            transform: translateX(10%);
        }

        &::-moz-range-thumb {
            border: none;
            height: 7px;
            width: 7px;
            border-radius: 50%;
            background: $main-color;
            cursor: pointer;
            transition: 0.2s;
        }

        &:hover::-moz-range-thumb {
            height: 13px;
            width: 13px;
        }

        /* ŚCIEŻKA */

        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 3px;
            cursor: pointer;
            background: $main-color;
            transition: 0.3s;
        }

        &::-moz-range-track {
            width: 100%;
            height: 3px;
            cursor: pointer;
            background: $main-color;
            transition: 0.3s;
        }
    }


    &__volume,
    &__pageVolume {
        -webkit-appearance: none;
        width: 0;
        height: 50px;
        margin-right: 0;
        background: transparent;
        outline: none;
        overflow: hidden;
        transition: 0.3s;

        /* KÓŁKO */

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: none;
            height: 7px;
            width: 7px;
            border-radius: 50%;
            background: $main-color;
            cursor: pointer;
            margin-top: -2px;
            transition: 0.2s;
        }

        &:hover::-webkit-slider-thumb {
            height: 12px;
            width: 12px;
            margin-top: -5px;
            transform: translateX(10%);
        }

        &::-moz-range-thumb {
            border: none;
            height: 7px;
            width: 7px;
            border-radius: 50%;
            background: $main-color;
            cursor: pointer;
            transition: 0.2s;
        }

        &:hover::-moz-range-thumb {
            height: 13px;
            width: 13px;
        }

        /* ŚCIEŻKA */

        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 3px;
            cursor: pointer;
            background: $main-color;
            transition: 0.3s;
        }

        &::-moz-range-track {
            width: 100%;
            height: 3px;
            cursor: pointer;
            background: $main-color;
            transition: 0.3s;
        }
    }

    &__sound {
        display: flex;
        align-items: center;

        .active {
            display: block;
        }
    }
}

.audioInterface--borderSize {
    width: 340px;
    padding: 20px;
    // margin: auto;
}