.filter {
    @include page-style;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    user-select: none;

    &__filters {
        width: 100%;
    }

    &__title {
        @extend .AOT__title;
        flex-basis: 100%;
    }

    &__want {
        display: flex;
        align-items: center;
    }

    &__dontWant {
        @extend .filter__want;
    }

    &__indifferent {
        @extend .filter__want;
    }

    &__instructionIcon {
        margin-right: 10px;
    }

    &__others {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__container {

        &--part {
            display: flex;
            flex-direction: column;
            flex-basis: 31%;
            padding: 10px;
            border-bottom: 2px solid $main-color;
            background-color: rgba(0, 0, 0, 0.4);
        }

    }

    &__container.bottom {
        margin-bottom: 0;
    }

    &__filtersTitle {
        color: $font-color2;
        margin-bottom: 10px;

        &--center {
            text-align: center;
        }
    }

    &__types {
        display: flex;
        // justify-content: space-between;
        flex-wrap: wrap;
    }

    &__kind {
        @extend.filter__types;

        .MuiFormControl-root {
            width: 10vw;
            margin-bottom: 20px;
            color: $main-color;
        }

        .MuiFormLabel-root {
            color: $font-color2;
        }

        .MuiFormLabel-root.Mui-focused {
            color: $font-color2;
        }

        .MuiInputBase-input {
            color: $font-color2;
        }

        .MuiInputBase-root {
            color: $font-color2;
        }

        .MuiInput-underline:before {
            border-bottom: 2px solid darken($main-color, 20%);
        }

        .MuiInput-underline:after {
            border-bottom: 2px solid $main-color;
        }

        .MuiInput-underline:hover:not(.Mui-disabled):before {
            border-bottom: 2px solid $main-color;
        }

        .MuiSelect-icon {
            color: $main-color;
        }
    }

    &__filterElement {
        position: relative;
        flex-basis: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        margin: 0 0.83333% 10px;
        background-color: rgba(10, 10, 10, 0.9);
        font-size: 14px;
    }

    .filter__filterIcon {
        display: none;
        cursor: pointer;
        transition: 0.3s;
    }

    .filter__filterIcon.active {
        display: block;
    }

    .filter__filterIcon:hover {
        color: $main-color;
    }

    &__name {
        margin-right: 5px;
    }

    &__typeDescription {
        position: absolute;
        left: 50%;
        top: 120%;
        transform: translateX(-50%);
        opacity: 0;
        z-index: -1000;
    }

    &__rate {
        display: flex;
    }

    &__rateInput {
        display: block;
        width: 5vw;
        padding: 10px;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid $main-color;
        margin-right: 20px;
        color: $font-color2;
        font-size: 16px;

        &::placeholder {
            color: #909090;
        }
    }
}