// html {
//     overscroll-behavior: none;
// }

body {
    background-color: black;
    color: $font-color;
    font-family: 'Roboto Condensed', sans-serif;
    overscroll-behavior: none;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: $main-color;
}

::-webkit-scrollbar-thumb:hover {
    background: darken($main-color, 10%);
}

.curtain {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.6);
}

.blockCurtain {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 101%;
    height: 101%;
    background-color: rgba(10, 10, 10, 0.6);
}

.img {
    display: block;
    width: 100%;
    height: 100%;
}

.column {
    flex-direction: column;
}

.none {
    display: none;
}

.MuiButtonBase-root.button {
    display: block;
    background-color: $main-color;
    color: $font-color2;
    font-weight: bold;
    text-transform: none;

    &:hover {
        background-color: darken($main-color, 10%)
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    // background-color: red;
}

input[type=number] {
    -moz-appearance: textfield;
}

.mediumTitle {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: $main-color;
}

.largeTitle {
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: $main-color;
}