.main {
    display: flex;
    padding-top: 5vh;
    background-color: rgba(20, 20, 20, 0.7);

    &__content {
        width: calc(62vw - 14px);
        max-width: 1600px;
        min-height: 100vh;
        padding: 30px;
        background-color: rgba(10, 10, 10, 0.6);
    }

    &__section {
        padding: 30px;
        border-bottom: 1px solid $main-color;
        border-radius: 10px;
        margin-bottom: 30px;
        box-shadow: 0 5px 10px 6px black;
        user-select: none;
        transition: 0.4s;

        &:hover {
            background-color: rgba(10, 10, 10, 0.5);
        }
    }

    &__leftSide {
        display: flex;
        flex-direction: column;
        position: sticky;
        right: 0;
        top: 5vh;
        width: 19vw;
        height: 95vh;
    }

    &__rightSide {
        position: sticky;
        right: 0;
        top: 5vh;
        width: 19vw;
        height: 95vh;
        margin-right: 10px;
        overflow-y: scroll;
    }
}