.main {
    display: flex;
    padding-top: 5vh;
    background-color: rgba(20, 20, 20, 0.7);
    user-select: none;

    &__content {
        width: calc(62vw - 14px);
        max-width: 1600px;
        min-height: 100vh;
        padding: 30px;
        background-color: rgba(10, 10, 10, 0.6);
    }

    &__section {
        padding: 30px;
        border-bottom: 1px solid $main-color;
        border-radius: 10px;
        margin-bottom: 30px;
        box-shadow: 0 5px 10px 6px black;
        transition: 0.4s;

        &:hover {
            background-color: rgba(10, 10, 10, 0.5);
        }
    }

    &__leftSide {
        display: flex;
        flex-direction: column;
        position: sticky;
        right: 0;
        top: 5vh;
        width: 19vw;
        height: 95vh;
    }

    &__rightSide {
        position: sticky;
        right: 0;
        top: 5vh;
        width: 19vw;
        height: 95vh;
        margin-right: 10px;
        overflow-y: scroll;
    }
}

.anime {

    &__series {
        padding-top: 20px;
        border-top: 2px solid $main-color;
        margin-bottom: 100px
    }

    &__movies {
        @extend .anime__series;
        margin-bottom: 0;
    }

    &__title {
        margin-bottom: 20px;
        color: $font-color2;
    }
}

.top {
    &__search {
        border-bottom: 2px solid $main-color;
        margin-bottom: 30px;
    }
}

div.galery {
    flex-basis: 100%;
    max-width: none;
    background: transparent;
}