.myProjects {
    &__title {
        @extend .AOT__title;
    }

    &__article {
        @include page-style;
        margin-bottom: 30px;

        &:nth-last-of-type(1) {
            margin-bottom: 0;
        }
    }

    // &__SAOClicker {
    //     @extend .AOT__questionnaire;
    //     margin-bottom: 30px
    // }

    // &__QMA {
    //     @extend .AOT__questionnaire;
    // }

    &__info {
        flex-basis: calc(100% - 6vw - 20px)
    }

    &__projectTitle {
        @extend .AOT__questionnaireTitle;
        margin-bottom: 10px;
        text-align: left;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__image {
        @include image;
        width: 6vw;
        height: 6vw;
        border-radius: 10px;
    }

    &__description {
        flex-basis: calc(100% - 6vw - 20px);
        user-select: text;
        margin: 0;
    }

    &__link {
        display: inline-block;
        width: fit-content;
        margin-right: 20px;
        text-decoration: none;
    }
}