.SAOCRanking {
    padding: 0;

    &__title {
        background-color: rgba(00, 00, 00, 0.7);
        padding: 30px 0;
        margin-bottom: 0;
        border-bottom: 2px solid $main-color;
    }

    &__filters {
        display: flex;
        background-color: rgba(00, 00, 00, 0.7);
        border-bottom: 2px solid $main-color;
    }

    &__filter {
        padding: 10px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.2s;

        &.active {
            color: $main-color;
        }

        &:hover {
            color: $main-color;
        }
    }

    &__legend {
        display: flex;
        padding: 10px;
        border-bottom: 1px solid $main-color;
        background-color: rgba(00, 00, 00, 0.7);
    }

    &__list {
        // padding: 30px;
        list-style: none;
        background-color: rgba(00, 00, 00, 0.4);
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: rgba(00, 00, 00, 0.5);

        &:nth-child(2n) {
            background-color: rgba(00, 00, 00, 0.0);
        }

        &:nth-of-type(1) .SAOCRanking__place {
            color: $special-color;
            text-shadow: 0 0 10px $special-color;
        }

        &:nth-of-type(2) .SAOCRanking__place {
            color: #adadad;
            text-shadow: 0 0 10px #adadad;
        }

        &:nth-of-type(3) .SAOCRanking__place {
            color: #6b2d1d;
            text-shadow: 0 0 10px #6b2d1d;
        }
    }

    &__place {
        position: relative;
        width: 34px;
        height: 34px;
        text-align: center;
        line-height: 34px;
        font-size: 20px;
        font-weight: bold;

        // .MuiIcon-root {
        //     width: 10px;
        //     height: 10px;
        // }

        .MuiIcon-root::before {
            @include position-absolute(50%, 50%);
            font-size: 18px;
        }
    }

    &__info {
        text-align: center;
    }

    &__info--place {
        width: 34px;
    }

    &__info--nick {
        width: 150px;
    }

    &__info--time {
        width: 150px;
    }

    &__info--lvl {
        width: 150px;
    }

    &__info--achievements {
        width: 150px;
    }

    &__info--swords {
        width: 150px;
    }
}