.source {
    &__content {
        @include main-style;
        padding: 20px;
    }

    &__item {
        margin-bottom: 10px;
        color: $font-color2;
    }

    &__link {
        color: $font-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}