$main-color: rgb(245, 0, 87);
$main-color2: #ffcccc;
$main-color3: #b95ad1;
$special-color: #ffb700;
$font-color: #d0d0d0;
$font-color2: #f0f0f0;

@mixin position-absolute($left, $top) {
    position: absolute;
    left: $left;
    top: $top;
    transform: translate(-50%, -50%);
}