.animeList {

    &__results-amount {
        margin-bottom: 20px;
    }

    &__list {
        list-style: none;
    }

    &__item {
        @include page-style;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
            background-color: rgba(10, 10, 10, 0.6);
        }

        &:nth-of-type(1) .animeList__top {
            color: $special-color;
            text-shadow: 0 0 10px $special-color;
        }

        &:nth-of-type(2) .animeList__top {
            color: #adadad;
            text-shadow: 0 0 10px #adadad;
        }

        &:nth-of-type(3) .animeList__top {
            color: #6b2d1d;
            text-shadow: 0 0 10px #6b2d1d;
        }
    }

    &__item:nth-last-of-type(1) {
        margin-bottom: 0;
    }

    &__top {
        flex-shrink: 0;
        position: relative;
        width: 50px;
        height: 50px;
        margin-right: 20px;
        text-align: center;
        line-height: 50px;
        font-size: 30px;
        font-weight: bold;

        .MuiIcon-root::before {
            @include position-absolute(50%, 50%);
        }
    }

    &__animeContent {
        flex-grow: 1;
        margin-left: 20px;
    }

    &__image {
        @include image;
        flex-shrink: 0;
        width: 70px;
        height: 70px;
        border-radius: 10px;
        margin-bottom: 5px;
    }

    &__rate {
        display: flex;
        margin: 0 2%;
        align-items: center;
        font-weight: bold;
        color: $font-color2;

        &--profile {
            margin-right: 30px;
        }

        .animeList__rateIcon {
            color: $special-color;
        }
    }

    &__title {
        display: block;
        width: fit-content;
        margin-bottom: 10px;
        color: $font-color2;
        text-decoration: none;
        font-size: 20px;

        &:hover {
            text-decoration: underline;
        }

        .animeList__kind-icon {
            margin-left: 6px;
            color: $main-color;

            &--material {
                margin-bottom: -4px;
                font-size: 22px;
            }

            &--awesome {
                line-height: 26px;
                font-size: 20px;
            }
        }
    }

    &__types {
        display: flex;
        flex-wrap: wrap;
    }

    &__type {
        @extend .page__type;

        &--fav {
            @extend .page__type--fav;
        }
    }

    &__buttons {
        display: flex;
        flex-shrink: 0;

        .animeList__button {
            min-width: 0px;
            padding: 10px;
            margin-left: 5px;
        }

        .MuiButton-label {
            height: 20px;
            width: 20px;
        }

        .animeList__buttonIcon {
            width: 20px;
            height: 20px;
        }
    }

    &__button.MuiButtonBase-root.button {
        border-radius: 50%;
        background-color: rgba(245, 0, 87, 0.4);

        &:hover {
            background-color: rgba(245, 0, 87, 0.6);
        }

        &:hover .animeList__buttonDescription {
            opacity: 1;
        }

        .animeList__buttonDescription:hover {
            opacity: 0;
        }
    }

    &__button.MuiButtonBase-root.button.active {
        background-color: $main-color;
    }

    &__buttonDescription {
        display: block;
        @include position-absolute(50%, -110%);
        padding: 5px 20px;
        border: 1px solid $main-color;
        background-color: black;
        border-radius: 10px;
        opacity: 0;
        transition: 0.3s;
    }
}