.AOT {
    position: relative;

    &__adminPanel {
        position: absolute;
        right: 30px;
        top: 30px;
    }

    &__finish {
        padding: 3px 15px;
        border: 1px solid darken($main-color, 20%);
        border-radius: 10px;
        color: darken($main-color, 20%);
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            color: $main-color;
            border: 1px solid $main-color;
        }
    }

    &__title {
        margin-bottom: 30px;
        text-align: center;
        color: $main-color;
        font-size: 36px;
    }

    &__animeContent {
        display: flex;
        align-items: flex-start;
        margin-bottom: 30px;
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
    }

    &__image {
        @include image;
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 20px;
    }

    &__rate {
        @include page-style;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 40px;
        padding: 10px 0 0;
        box-shadow: 0 -40px 0 0 rgba(10, 10, 10, 0.5);

        .AOT__rateIcon {
            width: 2vw;
            height: 2vw;
            margin-left: -4px;
            color: $special-color;
        }
    }

    &__rateValue {
        font-size: 18px;
        font-weight: bold;
    }

    &__center {
        flex-grow: 1;
    }

    &__animeTitle {
        display: block;
        margin-bottom: 15px;
        font-size: 24px;
        color: $font-color2;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__types {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    &__type {
        @extend .page__type;
    }

    &__description {
        user-select: text;
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
    }

    &__music {
        position: relative;
        width: 3vw;
        height: 3vw;
        border: 2px solid $main-color;
        border-radius: 50%;
        margin-bottom: 15px;
        cursor: pointer;
        overflow: auto;
        overscroll-behavior-y: contain;
        transition: 0.3s;

        &:hover {
            box-shadow: 0 0 10px 3px $main-color;
        }
    }

    &__music-volume {
        font-weight: bold;
        color: $main-color;
    }

    &__hehe {
        @include position-absolute(50%, 50%);
        width: 2vw;
        height: 2vw;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    &__range {
        width: 0;
        height: 200000px;
    }

    &__mediaIcon {
        @include position-absolute(50%, 50%);
        color: $font-color2;
    }

    &__movie {
        @extend .AOT__music;
        margin-bottom: 0;
    }

    &__questionnaire {
        padding: 30px;
        border-bottom: 1px solid $main-color;
        border-right: 1px solid $main-color;
        border-radius: 10px;
        box-shadow: 5px 5px 10px 5px black;
    }

    &__questionnaireTitle {
        text-align: center;
        color: $main-color;
        margin-bottom: 30px;
    }

    &__form {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .MuiFormControl-root {
            width: 10vw;
            color: $main-color;
        }

        .MuiFormLabel-root {
            color: $main-color;
        }

        .MuiFormLabel-root.Mui-focused {
            color: $main-color;
        }

        .MuiInputBase-input {
            color: $font-color2;
        }

        .MuiInput-underline:before {
            border-bottom: 2px solid darken($main-color, 20%);
        }

        .MuiInput-underline:after {
            border-bottom: 2px solid $main-color;
        }

        .MuiInput-underline:hover:not(.Mui-disabled):before {
            border-bottom: 2px solid $main-color;
        }

        .MuiSelect-icon {
            color: $main-color;
        }
    }

    &__resultTitle {
        @extend .AOT__questionnaireTitle;
    }

    &__results {
        @include page-style;
    }

    &__resultsContainer {
        max-height: 300px;
        overflow-y: scroll;
    }

    &__result {
        @extend .WTM__result;
        padding: 10px 20px;
        border-right: none;
        border-left: 1px solid $main-color;
        box-shadow: -5px 5px 10px 3px black;
    }
}