.leftNav {
    // padding: 20px 20px 10px;
    user-select: none;

    &__list {
        list-style: none;
    }

    &__item {
        @include aside-style;
        margin: 10px 20px;
        box-shadow: 3px 3px 6px 3px black;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;

        &:nth-child(1) {
            margin-top: 20px;
        }
    }

    &__Link {
        @extend .leftNav__item;
        display: block;
        text-decoration: none;
        color: $font-color;

    }

    &__item.active {
        padding: 10px 10px 10px 25px;
        background-color: rgba(10, 10, 10, 0.6);
        color: $main-color;
    }
}