.main {
    display: flex;
    padding-top: 5vh;
    // background-image: url(../media/img/sao1-back20502.webp);
    background-image: url(../media/img/christmas.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    user-select: none;

    &__content {
        display: flex;
        flex-direction: column;
        position: relative;
        flex-grow: 1;
        max-width: 1600px;
        min-height: 100vh;
        padding: 30px;
        background-color: rgba(10, 10, 10, 0.6);
    }

    &__section {
        @include page-style;
        padding: 30px;
        margin-bottom: 30px;
    }

    &__section:nth-last-of-type(1) {
        margin-bottom: 0;
    }

    &__leftSide {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        position: sticky;
        right: 0;
        top: 5vh;
        width: 19vw;
        height: 95vh;
    }

    &__rightSide {
        position: sticky;
        flex-shrink: 0;
        right: 0;
        top: 5vh;
        width: 19vw;
        height: 95vh;
        margin-right: 10px;
        overflow: auto;
        overscroll-behavior-y: contain;
    }
}

.anime {

    &__series {
        padding-top: 20px;
        border-top: 2px solid $main-color;
        margin-bottom: 100px
    }

    &__movies {
        @extend .anime__series;
        margin-bottom: 0;
    }

    &__title {
        margin-bottom: 20px;
        color: $font-color2;
    }
}

.top {
    &__search {
        border-bottom: 2px solid $main-color;
        margin-bottom: 30px;
    }
}

div.galery {
    flex-basis: 100%;
    max-width: none;
    background: transparent;
}