.SAOCRanking {
    padding: 0;

    &__title {
        background-color: rgba(00, 00, 00, 0.7);
        padding: 30px 0;
        margin-bottom: 0;
        border-bottom: 2px solid $main-color;
    }

    &__legend {
        position: relative;
        display: flex;
        padding: 10px;
        border-bottom: 2px solid $main-color;
        background-color: black;

        &::after {
            display: block;
            content: 'Sortowanie';
            position: absolute;
            left: 10px;
            top: 0;
            transform: translateY(-50%);
            padding: 2px 6px;
            font-size: 12px;
            background-color: black;
            color: $main-color;
        }

        &.active {
            color: $main-color;
        }
    }

    &__legend-item {
        flex-basis: 16.66666666%;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        transition: 0.2s;

        &.active {
            color: $main-color;
        }

        &:hover {
            color: $main-color;
        }
    }

    &__list {
        list-style: none;
        background-color: rgba(00, 00, 00, 0.4);
    }

    &__item {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.4);

        &:nth-child(2n) {
            background-color: rgba(0, 0, 0, 0.6);
        }

        &:nth-of-type(1) {
            color: $special-color;
            // text-shadow: 0 0 10px $special-color;
        }

        &:nth-of-type(2) {
            color: #adadad;
            // text-shadow: 0 0 10px #adadad;
        }

        &:nth-of-type(3) {
            color: #6b2d1d;
            // text-shadow: 0 0 10px #6b2d1d;
        }
    }

    &__stat {
        flex-basis: 16.666666%;
        font-weight: bold;
        text-align: center;
    }
}