.WTMC {
    @extend .DA;
    min-height: 0px;
    max-height: calc(95vh);
    overflow: hidden;

    &__list {
        max-height: calc(85vh - 40px - 18px);
        margin-bottom: 10px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    &__title {
        @extend .DA__title;
    }

    &__item {
        position: relative;
        display: flex;
        border-bottom: 1px solid $main-color;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    &__image {
        @include image;
        width: 2vw;
        height: 2vw;
        border-radius: 50%;
    }

    &__commentContent {
        width: calc(100% - 2vw);
        padding-left: 10px;
    }

    &__commentInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
    }

    &__nick {
        display: block;
        text-decoration: none;
        font-size: 16px;
        color: $font-color2;

        &:hover {
            text-decoration: underline;
        }
    }

    &__date {
        font-size: 13px;
    }

    &__text {
        font-size: 14px;
        user-select: text;
    }

    &__like {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 1.5vw;
        padding: 0 10px;

        .WTMC__likeIcon {
            width: 1.1vw;
            height: 1.1vw;
            cursor: pointer;
        }

        .WTMC__likeIcon.active {
            color: $main-color;
        }

        .WTMC__likeIcon:hover {
            color: white;
        }
    }

    &__likeAmount {
        margin-right: 5px;
        font-size: 13px;
        font-weight: bold;
    }

    &__addComment-content {
        display: flex;
    }

    &__addComment {
        align-items: center;
        height: calc(11vh - 50px);
        overflow: hidden;
        transition: 0.5s;

        &.show {
            height: calc(11vh - 20px);
        }
    }

    &__textarea {
        flex-grow: 1;
        height: 100%;
        padding: 5px;
        border: 2px solid darken($main-color, 10%);
        background-color: rgba(10, 10, 10, 0.9);
        color: $font-color2;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 14px;
        font-weight: bold;
        outline: none;
        resize: none;
        transition: 0.3s;

        &::placeholder {
            color: #808080;
        }

        &:focus {
            border: 2px solid $main-color;
        }
    }

    &__send {
        width: calc(10vh - 40px - 20px);
        cursor: pointer;

        .WTMC__sendIcon {
            width: calc(10vh - 40px - 20px);
            height: calc(10vh - 40px - 20px);
            padding: 8px;
            color: $font-color2;
            transition: 0.3s;
        }

        .WTMC__sendIcon:hover {
            color: $main-color;
        }
    }
}