* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(../../media/img/hos-back20502.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #d0d0d0;
  font-family: 'Roboto Condensed', sans-serif;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #f50057;
}

::-webkit-scrollbar-thumb:hover {
  background: #c20045;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
}

.none {
  display: none;
}

.loginScreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1000;
}

.loginScreen__curtain {
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.8);
}

.loginScreen__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  padding: 40px;
  border: 2px solid #f50057;
  border-radius: 10px;
  background-color: #101010;
}

.loginScreen__title {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}

.loginScreen__form {
  margin: 0 auto 50px;
}

.loginScreen__input {
  display: block;
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin: 20px auto;
  color: #d0d0d0;
  background-color: #303030;
  font-size: 17px;
  font-weight: bold;
  outline: none;
}

.loginScreen__input::-webkit-input-placeholder {
  color: #909090;
}

.loginScreen__input:-ms-input-placeholder {
  color: #909090;
}

.loginScreen__input::-ms-input-placeholder {
  color: #909090;
}

.loginScreen__input::placeholder {
  color: #909090;
}

.loginScreen__submit {
  display: block;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  margin: 0 auto;
  color: #d0d0d0;
  background-color: #303030;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.loginScreen__submit:hover {
  background-color: #606060;
}

.loginScreen__help {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.loginScreen__text {
  margin-bottom: 5px;
  cursor: pointer;
}

.loginScreen__link {
  color: #d0d0d0;
  text-decoration: none;
}

.loginScreen__goRegister {
  color: #ffb700;
  cursor: pointer;
}

.loginScreen__goRegister:hover {
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
}

label.MuiFormControlLabel-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.MuiFormControlLabel-root .MuiSvgIcon-root {
  color: #f50057;
}

span.MuiTypography-body1 {
  font-size: 14px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 5vh;
  background-color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 100;
}

.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1vh 1.5vh;
  width: 5vh;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__login:hover {
  width: 13vh;
}

.header__login__loginIcon:hover .header__loginIcon.MuiIcon-root {
  color: #f50057;
}

.header__loginIcon.MuiIcon-root {
  display: block;
  margin-right: 1.5vh;
  font-size: 2vh;
  line-height: 2.9vh;
  overflow: visible;
}

.header__loginTxt {
  font-size: 1.6vh;
  line-height: 3vh;
  text-transform: uppercase;
  color: #f50057;
  font-weight: bold;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5vh;
  margin-right: 10vh;
}

.logo__imgWrapper {
  width: 4vh;
  height: 4vh;
  margin-right: 0.5vw;
}

.logo__title {
  line-height: 4vh;
  font-size: 2.3vh;
}

.logo__titleColor1 {
  color: #ffcccc;
}

.logo__titleColor2 {
  color: #b95ad1;
}

.logo__titleColor3 {
  color: #f50057;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menu__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:hover .menu__border {
  width: 100%;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1vh;
  font-size: 1.6vh;
  line-height: calc(3vh - 2px);
  color: #d0d0d0;
  font-weight: bold;
  text-decoration: none;
}

.menu__link.active {
  color: #f50057;
}

.menu__border {
  background-color: #d0d0d0;
  width: 0;
  height: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu__icon.MuiSvgIcon-root {
  width: 3vh;
  height: calc(3vh - 2px);
  padding: calc(0.5vh - 2px) 0.5vh;
}

.menu__icon.MuiIcon-root {
  position: relative;
  width: 3vh;
  height: calc(3vh - 2px);
  font-size: 1.4vh;
}

.menu .fa-trophy:before {
  width: 100%;
  position: absolute;
  left: 70%;
  top: 51%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.leftNav {
  padding: 20px 20px 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.leftNav__list {
  list-style: none;
}

.leftNav__item {
  padding: 10px;
  border-bottom: 1px solid #f50057;
  border-left: 1px solid #f50057;
  border-radius: 8px;
  margin-bottom: 10px;
  -webkit-box-shadow: -5px 5px 10px 3px black;
          box-shadow: -5px 5px 10px 3px black;
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.leftNav__item:hover {
  padding: 10px 10px 10px 25px;
  background-color: rgba(10, 10, 10, 0.6);
  color: white;
}

.add {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-left: 1px solid #f50057;
  border-bottom: 1px solid #f50057;
  border-radius: 10px;
  margin: 0 20px 20px 20px;
  -webkit-box-shadow: -5px 5px 10px 3px black;
          box-shadow: -5px 5px 10px 3px black;
  overflow: hidden;
}

.add__text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  width: 70vw;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.add__txt1 {
  display: block;
  margin-left: -35px;
  margin-bottom: 15px;
}

.add__txt2 {
  display: block;
  margin-bottom: 15px;
}

.add__txt3 {
  display: block;
  margin-left: -70px;
  margin-bottom: 15px;
}

.DA {
  max-height: 40vh;
  padding: 10px;
  border-right: 1px solid #f50057;
  border-bottom: 1px solid #f50057;
  border-radius: 10px;
  margin: 20px;
  -webkit-box-shadow: 5px 5px 10px 3px black;
          box-shadow: 5px 5px 10px 3px black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.DA__title {
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
  color: #f50057;
}

.DA__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.DA__left, .DA__right {
  padding: 5px;
  margin-right: 10px;
}

.DA__right {
  margin: 0;
}

.DA__imgWrapper {
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 50%;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 10px 2px #f50057;
          box-shadow: 0 0 10px 2px #f50057;
  overflow: hidden;
}

.DA__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 26px;
  border-radius: 10px;
  margin: 0 8px;
  font-size: 15px;
  font-weight: bold;
  background-color: #202020;
}

.DA__rateIcon.MuiSvgIcon-root {
  width: 20px;
  height: 20px;
  margin-left: -4px;
  color: #ffb700;
}

.DA__animeTitle {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #e0e0e0;
  text-decoration: none;
}

.DA__animeTitle:hover {
  text-decoration: underline;
}

.DA__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.DA__type {
  display: block;
  padding: 2px 10px;
  margin: 0 3px 3px 0;
  background-color: rgba(10, 10, 10, 0.5);
  font-size: 13px;
  text-decoration: none;
  color: #d0d0d0;
  cursor: pointer;
}

.DA__type:hover {
  color: #f50057;
}

.DA__description {
  font-size: 16px;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.DA__more {
  width: 5.5vw;
  height: 1.5vw;
  border-radius: 7px;
  margin: 5px 10px 0 calc(19vw - 65px - 5.5vw);
  text-align: center;
  line-height: 1.5vw;
  font-size: 15px;
  font-weight: bold;
  background-color: rgba(10, 10, 10, 0.8);
  cursor: pointer;
}

.DA__more:hover {
  color: #f50057;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5vh;
  background-color: rgba(20, 20, 20, 0.7);
}

.main__content {
  width: calc(62vw - 14px);
  height: 200vh;
  max-width: 1600px;
  min-height: 100vh;
  padding: 20px;
  background-color: rgba(10, 10, 10, 0.8);
}

.main__section {
  background-color: rgba(40, 40, 40, 0.8);
}

.main__leftSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  top: 5vh;
  width: 19vw;
  height: 95vh;
}

.main__rightSide {
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  top: 5vh;
  width: 19vw;
  height: 95vh;
  margin-right: 10px;
  overflow-y: scroll;
}

.footer {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #f50057;
}

.footer__socials, .footer__links, .footer__additions {
  -ms-flex-preferred-size: 33.3333%;
      flex-basis: 33.3333%;
}

.footer__title {
  color: #e0e0e0;
  font-size: 18px;
  margin-bottom: 15px;
}

.footer__linksWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__link {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 15px;
  border: 1px solid #d0d0d0;
  border-radius: 15px;
  margin: 0 30% 10px 0;
  font-size: 16px;
  text-decoration: none;
  color: #d0d0d0;
}

.footer__link:hover {
  color: #e0e0e0;
  border: 1px solid #f50057;
}

.footer__linkIcon.MuiSvgIcon-root {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

.footer__smallLink {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  margin-bottom: 4px;
  color: #d0d0d0;
  font-size: 13px;
  text-decoration: none;
}

.footer__licence {
  text-align: center;
  line-height: 5vh;
  font-size: 14px;
}

.footer__copyIcon.MuiSvgIcon-root {
  height: 14px;
  width: 14px;
}
/*# sourceMappingURL=main.css.map */